:root{
  --primary-light: #363333;
  --primary-dark: #272121;
  --select: #E16428;
  --primary-white: #F6E9E9;

}


body{
  margin: 0;
  padding: 0;
  background-color: var(--primary-light);
}

header h1{
  background-color: var(--primary-light);
  color: var(--primary-white);
  margin: 0;
  padding: 10px;
  font-family: 'Helvetica', sans-serif;
}

#game {
    display: inline-block;
    width: 75vh;
    height: 90vh;
    text-align: center;
  }
  

#A-M span,
#N-Z span{
    color: var(--primary-white);
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
    display: block;
    margin: auto;
    padding: 5px;
}

#A-M, #N-Z{
    display: inline-block; ;
    width: max-content;
    margin: auto;
    font-size: 0.8em;
}


.mainGameBody{
    display: flex;
    justify-content: space-evenly;
    vertical-align: top;
    width: 100%;
    margin-right: 5%;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: var(--primary-white);
    border-radius: 10px;
}


.dash{
  width: 30px;
  height: 10px;
  background-color: var(--primary-white);
  border-radius: 10px;
}

#A-M span div,
#N-Z span div{
    display: inline-block;
    margin: 3px 0;
    padding: 0;
}

#dropper{
  position: relative;
  border-bottom: var(--primary-white) 5px solid;
  height: 80%;

}

#input{
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;

}

#input div{
  display: inline-block;
  margin: 10px;
}

.letter {
  position: absolute;
  top: 0;
  font-size: 2em;
  color: var(--primary-white);
  font-family: 'Roboto', sans-serif;
  animation: fall linear forwards;
}

@keyframes fall {
  from {
      top: 0;
  }
  to {
      top: 60%;
      color: var(--select) ;
  }
  to {
    top: 95%;
  }
}