:root{
  --background: #363333;
  --nav-light: #636161;
  --nav-dark: #1f1d1d;
  --select: #FFB07C;
  --primary-white: #e1d6d6;

}


body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

header{
  height: 20vh;
}

header h1{
  background-color: var(--background);
  color: var(--primary-white);
  margin: 0;
  padding: 10px;
  font-family: 'Helvetica', sans-serif;
}

#game {
    display: inline-block;
    width: 75vh;
    height: 78vh;
    text-align: center;
  }
  

#A-M span,
#N-Z span{
    color: var(--primary-white);
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
    display: block;
    margin: auto;
    padding: 5px;
}

#A-M, #N-Z{
    display: inline-block; ;
    width: max-content;
    margin: auto;
    font-size: 0.8em;
}


.mainGameBody{
    display: flex;
    justify-content: space-evenly;
    vertical-align: top;
    width: 100%;
    margin-right: 5%;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: var(--primary-white);
    border-radius: 10px;
}


.dash{
  width: 30px;
  height: 10px;
  background-color: var(--primary-white);
  border-radius: 10px;
}

#A-M span div,
#N-Z span div{
    display: inline-block;
    margin: 3px 0;
    padding: 0;
}

#dropper{
  position: relative;
  border-bottom: var(--primary-white) 5px solid;
  height: 80%;

}

#input{
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;

}

#input div{
  display: inline-block;
  margin: 10px;
}

.letter {
  position: absolute;
  top: 0;
  font-size: 1.6rem;
  color: var(--primary-white);
  animation: fall linear forwards;
}

@keyframes fall {
  from {
      top: 0;
  }
  to {
      top: 60%;
      color: var(--select) ;
  }
  to {
    top: 95%;
  }
}


.card {
  width: 50%;
  margin: auto;
  background-color: var(--nav-dark);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4px;
}

.button {
  background-color: var(--nav-dark);
  border: none;
  border-radius: 10px;
  color: var(--nav-light);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 3px;
  padding: 10px;
  text-transform: uppercase;
}

.button:hover {
  box-shadow: none;
  color: var(--primary-white);
}
